/*! Thiago ta tudo organizadinho aqui,coloquei todas as variaveis de cor e espaçamento
/*! Responsividade? HAhaha COM DEUs, fiz o que pude, o resto vc se vira bjoooo KKKKKKKKKKKKKK


/* ================================
   HOME PAGE
================================ */
.home-page {
  background: var(--theme-bg) no-repeat center center / cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home-page-container {
  height: 74vh;
  display: flex;
  flex-direction: row;
}

/* ================================
   SIDEBAR
================================ */
.sidebar-container {
  width: 250px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: var(--bege);
  border-top: var(--border-s);
  border-left: var(--border-s);
  border-right: var(--border-m);
  border-bottom: var(--border-m);
  border-radius: var(--radius-md);
  margin-right: var(--space-md);
}
.sidebar {
  width: 96%;
  height: 98%;
  position: relative;
  border-width: var(--my-border);
  border-top: var(--border-s);
  border-left: var(--border-s);
  border-right: var(--border-m);
  border-bottom: var(--border-m);
  border-radius: var(--radius-md);
}

.sidebar-info {
  bottom: 80px;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -------------------------------
   Character Info (Character + Infos)
---------------------------------*/
.character {
  width: 180px;
  height: 220px;
  background: var(--character) no-repeat center center;
  background-size: contain;
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-sm);
  margin-top: -12px;
}

.name {
  font-size: 60px;
  width: 100%;
  max-width: 500px;
  text-align: center;
  font-family: "ByteBounce", sans-serif;
}

.level {
  font-family: "ByteBounce", sans-serif;
  font-size: var(--h3);
  align-self: center;
}

.progress {
  margin-top: -16px;
  width: 160px;
  height: 50px;
  background: var(--slider-level) no-repeat center center;
  background-size: contain;
  align-self: center;
}

.hearts-container {
  width: 120px;
  height: 35px;
  margin-top: -16px;
  background: var(--hearts) no-repeat center center;
  background-size: contain;
  margin-bottom: 36px;
  align-self: center;
}

.point-container {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: -42px;
  padding-bottom: 22px;
}

.point-container p {
  font-size: 30px;
  font-family: "ByteBounce", sans-serif;
}

.coin {
  background: var(--coin);
  width: 49px;
  height: 62px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.star {
  background: var(--star);
  width: 49px;
  height: 62px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* -------------------------------
   Info Box
---------------------------------*/
.info-box {
  width: 80%;
  height: 26%;
  padding: var(--space-lg);
  font-size: var(--h6);
  background-color: var(--info-box);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -66px;
  border-top: var(--border-s);
  border-left: var(--border-s);
  border-right: var(--border-m);
  border-bottom: var(--border-m);
  border-radius: var(--radius-xm);
}

/* ================================
   MAIN CONTENT
================================ */
.main-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* -------------------------------
   Game Tabs
---------------------------------*/
.tabs {
  display: flex;
  gap: 15px;
  width: 900px;
}

.tab {
  width: 212px;
  padding: 8px 12px;
  background: var(--tabs);
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: var(--border-s);
  border-left: var(--border-s);
  border-right: var(--border-m);
  border-bottom: 0px;
  font-size: var(--font-size-lg);
}

.tab.active {
  /* Fundo da tab ativa */
  background: rgba(75, 150, 107, 0.5);
}
/* -------------------------------
   Games Container
---------------------------------*/

.games-container { 
  width: 100%;
  height: 66%;
  background-color: var(--background-cards-grid);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0px;
  border-top: var(--border-s);
  border-left: var(--border-s);
  border-right: var(--border-m);
  border-bottom: var(--border-m);
  border-bottom-left-radius: var(--radius-sm);
  border-bottom-right-radius: var(--radius-sm);
  margin-bottom: 16px;
}

.games-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-m);
}

.game-card {
  width: 100%;
  height: 90%; 
  border: none;
  background: var(--bege);
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-md);
  border-top: var(--border-s);
  border-left: var(--border-s);
  border-right: var(--border-m);
  border-bottom: var(--border-m);
  border-radius: var(--radius-xm);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
}

.game-card:hover {
  transform: scale(1.1);
  filter: brightness(1.05);
}

.img-game {
  width: 160px;
  height: 90px;
  border: var(--border-s);
}

.name-game {
  padding-top: var(--space-s);
  font-size: 26px;
  text-align: center;
  font-family: "ByteBounce", sans-serif;
  margin-bottom: 6px;
}
/* -------------------------------
   Bottom Boxes
---------------------------------*/
.bottom-boxes {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 18px;
  justify-content: space-around;
}

.box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border-top: 4px solid #000;
  border-left: 4px solid #000;
  border-right: 6px solid #000;
  border-bottom: 6px solid #000;
  position: relative;
  background: var(--bege);
}

.lider-box {
  background: var(--green-200);
  display: flex;
  position: relative;
}

.tab-line {
  width: 96%;
  height: 94%;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 6px solid black;
  border-bottom: 6px solid black;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: end;
  justify-content: end;
}

/* -------------------------------
   Elements (award, mushroom)
---------------------------------*/
.award {
  bottom: 150px;
  left: -30px;
  position: absolute;
  width: 80px;
  height: 89px;
}

.mushroom img {
  position: absolute;
  width: 100px;
  height: 109px;

  top: 60%;
  right: -12%;
}

/* -------------------------------
   Pequenas alterações - telas (Desktop - notebook)
---------------------------------*/
@media (min-width: 768px) and (max-width: 1900px) {
  .point-container {
    margin-top: -52px !important;
  }

  .name {
    margin-top: -16px;
  }

  .games-grid {
    gap: 0px !important;
    column-gap: var(--space-md) !important;
    margin-top: var(--space-md);
  }
}
