.notfound-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #25612c;
  justify-content: center;
  padding: 20px;
}

.notfound-card {
  display: flex;
  flex-direction: column;
  background: #1a1a1a;
  padding: 20px 40px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  max-width: 420px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  animation: fadeIn 0.4s ease-in-out;
}

.ozzy-image{
  margin-left: -62px;
}

.notfound-card h1 {
  font-size: 36px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.notfound-card p {
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 26px;
  font-family: monospace;
}

.btn-voltar {
  background: #144f1b;
  color: #fff;
  padding: 12px 22px;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s;
  display: inline-block;
  text-transform: uppercase;
}

.btn-voltar:hover {
  background: #207029;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
