/* src/styles/notFoundGame.css */

.notfound-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  background: var(--theme-bg);
  justify-content: center;
  padding: 20px;
}



.notfound-card {
  width: 750px;
  height: 400px;
  background: var(--theme-popups-choice) no-repeat center center;
  background-size: contain;
  border-radius: 12px;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 80px;
  align-items: center;
  animation: fadeIn 0.4s ease-in-out;
}

.notfound-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--theme-bg-shadow);  
    pointer-events: none; 
}

.img-character {
  width: 280px;
  margin-top: 40px;
}

.notfound-text {
  padding-top: 60px;
}

.notfound-card h1 {
  font-size: 36px;
  margin-bottom: 26px;
  text-transform: uppercase;
}

.notfound-card p {
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 26px;
  font-family: monospace;
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}


.btn-voltar {
  padding-bottom: 8px;
  width: 167px;
  height: 60px;
  cursor: pointer;
  border: none;
  transition: background 0.4s; 
  background: var(--theme-btn-normal) no-repeat center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  font-size: 30px;


  color: var(--black);
  text-decoration: none;

  margin: 30px 30px;
  font-family: "ByteBounce", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-voltar:hover {
  padding-bottom: 8px;
  width: 167px;
  height: 60px;
  cursor: pointer;
  border: none;
   color: var(--black);
  transition: background 0.4s;
  background: var(--theme-btn-hover) no-repeat center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 32;
  text-decoration: none;
  margin: 30px 30px;
  font-family: "ByteBounce", sans-serif;

  align-items: center;
  justify-content: center;
}