 /* ================================
   TUTORIAL PAGE
================================ */
 .tutorial-page {
   background: var(--theme-bg) no-repeat center center / cover;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
 }

 .tutorial-page-container {
   height: 74vh;
   display: flex;
   flex-direction: column;
 }


 .tutorial-container {
   width: 100%;
   height: 87%;
   background-color: var(--background-cards-grid);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   padding: 30px 30px;
   border-top: var(--border-s);
   border-left: var(--border-s);
   border-right: var(--border-m);
   border-bottom: var(--border-m);
   border-bottom-left-radius: var(--radius-sm);
   border-bottom-right-radius: var(--radius-sm);
   margin-bottom: 12px;
   margin-right: 12px;
 }

 .inside-container {
   background-color: var(--bege);
   width: 100%;
   height: 96%;

   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   border-top: var(--border-s);
   border-left: var(--border-s);
   border-right: var(--border-m);
   border-bottom: var(--border-m);
   border-radius: var(--radius-sm);
 }

 .tutorial-game-info {
   width: 50%;
   height: 100%;
   border-right: var(--border-m);
   display: flex;
   align-items: center;
   flex-direction: column;
   padding: 12px;
 }

 .tutorial-img {
  margin-top: 10px;
   width: 90%;
   height: 76%;
   border: var(--border-m);
   margin-bottom: 12px;
   border-radius: var(--radius-sm);

 }

 .tutorial-name {
   font-size: var(--h2);
   display: flex;


 }

 .tutorial-text { 
   max-width: 380px;
   height: 100%; 
   position: relative;

 }

 .hearts-box{
  bottom: -24px;
  right: 20px;
  position: absolute;
   background-color: var(--bege);
  padding: 3px; 
   border-top: var(--border-s);
   border-left: var(--border-s);
   border-right: var(--border-m);
   border-bottom: var(--border-m);
   border-radius: var(--radius-sm);
 } 
  .hearts-box img{
   width: 160px;
 }


 .tutorial-text p{

  font-size: var(--h3);
  line-height: 1.16;
 }

 .tutorial-header {
   width: 100%;
   height: 75%;
   display: flex;
   gap: 20px;
 }

 .tutorial-instructions {
   width: 250px;
   height: 100%;

   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .tutorial-instructions-card {
   width: 100%;
   height: 87%;
   background-color: var(--tutorial-instructions-card);
   margin-bottom: 12px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   border-top: var(--border-s);
   border-left: var(--border-s);
   border-right: var(--border-m);
   border-bottom: var(--border-m);
   border-radius: var(--radius-sm);
   gap: 10px;
   padding: 10px 15px;
 }


 .instructions-card {
   background-color: var(--instructions-card);
   border-top: var(--border-s);
   border-left: var(--border-s);
   border-right: var(--border-m);
   border-bottom: var(--border-m);
   border-radius: var(--radius-sm);
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
 }

  .instructions-card img{  
   height:90px; 
 }

@media (max-height: 850px) {
  .instructions-card img{  
   height:60px; 
 }

 .tutorial-instructions {
   width: 180px;
   height: 100%;

   display: flex;
   flex-direction: column;
   align-items: center;
 }






}
 .play-button {
   width: 100%;
   height: 46px;
   margin-bottom: 12px;
   background-color: var(--buttom-color);
   font-size: var(--h3);
   border-top: var(--border-s);
   border-left: var(--border-s);
   border-right: var(--border-m);
   border-bottom: var(--border-m);
   border-radius: var(--radius-sm);
 }


 

 .tutorial-footer {
   width: 100%;
   height: 25%;
   background: var(--bege);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   background: var(--bege);
   border-top: var(--border-s);
   border-left: var(--border-s);
   border-right: var(--border-m);
   border-bottom: var(--border-m);
   border-radius: var(--radius-md);
 }

 .tutorial-footer-box {
   width: 99%;
   height: 94%;
   display: flex;
   align-items: row;
   position: relative;
   border-width: var(--border);
   border-top: var(--border-s);
   border-left: var(--border-s);
   border-right: var(--border-s);
   border-bottom: var(--border-s);
   border-radius: var(--radius-sm);
 }


 .character-info {
   position: absolute;
   bottom: 3%;
   left: -1%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .character-info h2 {
   font-size: var(--h2);
   padding-left: 22px;
 }

 .character-img {

   width: 190px;
   height: 180px;
   background: var(--character) no-repeat center center;
   background-size: contain;
 }



@media (max-height: 796px) {
    .character-info {
        bottom: 1%; 
        left: 0;
    }

    
    .character-img {
        width: 180px; 
        height: 170px; 
    }
 
}

 

 .point-container-box {
   margin-left: 180px;
   display: flex;
   gap: 10px;
   padding: 20px;
   padding-top: 90px;
   margin-right: 16px;
   flex-direction: column;
   justify-content: center;
 }


 .point-container {
   display: flex;
 }

 .box-bottom {
   display: flex;
   align-self: center; 
   height: 85%;
   margin-left: 20px;
   margin-right: 15px;
   width: 70%;
   flex-wrap: wrap;
   text-align: center;
   white-space: normal;
   font-size: var(--h5);
   background-color: var(--info-box);
   display: flex;
   align-items: center;
   justify-content: center;
   border-top: var(--border-s);
   border-left: var(--border-s);
   border-right: var(--border-m);
   border-bottom: var(--border-m);
   border-radius: var(--radius-xm);
   position: relative;
   line-height: 1.2;
 }

 .img-bottom img{
  display: flex;
  position: absolute;
  width: 90px;
  bottom: -44px;
  right: -60px;
 }

 /* -------------------------------
   Game Tabs
---------------------------------*/

 .tabTutorial {
   width: 100%;
   padding: 8px 12px;
   background: var(--tabs);
   cursor: pointer;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border-top: var(--border-s);
   border-left: var(--border-s);
   border-right: var(--border-m);
   border-bottom: 0px;
   font-size: var(--h4);
 }

 .tabTutorial.active {
   margin-left: -15px;
   width: 300px;
   background: var(--tabs-active);

 }