 /* ================================
   TUTORIAL PAGE
================================ */
 .tutorial-page {
   background: var(--theme-bg) no-repeat center center / cover;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
 }

 .tutorial-page-container {
   height: 74vh;
   display: flex;
   flex-direction: column;
 }


 .tutorial-container {
   width: 100%;
   height: 100%;
   background-color: var(--background-cards-grid);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   padding: 60px 30px;
   border-top: var(--border-s);
   border-left: var(--border-s);
   border-right: var(--border-m);
   border-bottom: var(--border-m);
   border-bottom-left-radius: var(--radius-sm);
   border-bottom-right-radius: var(--radius-sm);
   margin-bottom: 12px;
   margin-right: 12px;
 }

 .inside-container {
   background-color: var(--bege);
   width: 100%;
   height: 100%;

   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   border-top: var(--border-s);
   border-left: var(--border-s);
   border-right: var(--border-m);
   border-bottom: var(--border-m);
   border-radius: var(--radius-sm);
 }

 .tutorial-game-info {
   width: 50%;
   height: 100%;
   border-right: var(--border-m);
   display: flex;
   align-items: center;
   flex-direction: column;
   padding: 12px;
 }

 .tutorial-img {
   width: 100%;
   height: 80%;
   border: var(--border-m);
   margin-bottom: 16px;
   border-radius: var(--radius-sm);

 }

 .tutorial-name {
   font-size: var(--h2);
   display: flex;


 }

 .tutorial-text {
   width: 50%;
   max-width: 300px;
   height: 100%;

 }

 .tutorial-header {
   width: 100%;
   height: 75%;
   display: flex;
   gap: 20px;
 }

 .tutorial-instructions {
   width: 250px;
   height: 100%;

   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .tutorial-instructions-card {
   width: 100%;
   height: 87%;
   background-color: var(--green-200);
   margin-bottom: 12px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   border-top: var(--border-s);
   border-left: var(--border-s);
   border-right: var(--border-m);
   border-bottom: var(--border-m);
   border-radius: var(--radius-sm);
   gap: 10px;
   padding: 10px 15px;
 }


 .instructions-card {
   background-color: var(--instructions-card);
   border-top: var(--border-s);
   border-left: var(--border-s);
   border-right: var(--border-m);
   border-bottom: var(--border-m);
   border-radius: var(--radius-sm);
   width: 100%;
   height: 100%; 
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .play-button {
   width: 100%;
   height: 46px;
   margin-bottom: 12px;
   background-color: var(--buttom-color);
   font-size: var(--h3);
   border-top: var(--border-s);
   border-left: var(--border-s);
   border-right: var(--border-m);
   border-bottom: var(--border-m);
   border-radius: var(--radius-sm);
 }

 .tutorial-footer {
   width: 100%;
   height: 25%;
   background: var(--bege);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   background: var(--bege);
   border-top: var(--border-s);
   border-left: var(--border-s);
   border-right: var(--border-m);
   border-bottom: var(--border-m);
   border-radius: var(--radius-md);
 }

 .tutorial-footer-box {
   width: 99%; 
   height: 94%;
   display: flex;
   align-items: row;
   position: relative;
   border-width: var(--border);
   border-top: var(--border-s);
   border-left: var(--border-s);
   border-right: var(--border-s);
   border-bottom: var(--border-s);
   border-radius: var(--radius-sm);
 }


.character-info{
  position: absolute;
  top: -80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right:40px;
}

.character-info h2{
  font-size: var(--h2);
  padding-left:20px;
}

 .character-img{
     
    width: 190px;
    height: 180px;  
    background: var(--character) no-repeat center center;
    background-size: contain;   
 }


 .point-container-box{
  padding-left: 240px;
  display: flex;
  flex-direction: column
;
 }
 .point-container{
  display: flex; 
 }
 /* -------------------------------
   Game Tabs
---------------------------------*/

 .tabTutorial {
   width: 100%;
   padding: 8px 12px;
   background: var(--tabs);
   cursor: pointer;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border-top: var(--border-s);
   border-left: var(--border-s);
   border-right: var(--border-m);
   border-bottom: 0px;
   font-size: var(--font-size-lg);
 }

 .tabTutorial.active {
   margin-left: -15px;
   width: 300px;
   background: rgba(75, 150, 107, 0.5);

 }