 

:root {
  --font-size-base: 16px;
  --font-size-lg: 20px;
  --font-size-sm: 12px;


   /* Sombra */
  --theme-bg-shadow: rgba(0, 0, 0, 0.4); 

  /* Cores gerais */
  --color-button-bg: #4ade80;
  --color-button-text: #ffffff;
  --color-window-bg: #1e1e2e;
  --color-window-border: #333333;

  /* Layout */
  --radius-sm: 4px;
  --radius-md: 8px;
  --space-md: 16px;

  /* Fallback  */
  --theme-bg: url("../assets/backgrounds/default.png");
  --theme-name: "Default";
  --theme-primary: #888888;
  --theme-secondary: #aaaaaa;
  --theme-accent: #555555;
}

 :root {
  --sidebar-character:url("../assets/components/character-banner.png");
  --slider-level:url("../assets/components/slider-level.png");
  --hearts:url("../assets/components/hearts.png");
  --coin:url("../assets/components/coins.png");
  --star:url("../assets/components/star.png");
  --card:url("../assets/components/card.png");
   --info-box-geral:url("../assets/components/info-box-geral.png");

   --award:url("../assets/components/award.png");
   --mushroom:url("../assets/components/mushroom.png");
}


/* Tema squirrel */
.theme-squirrel {
  --character: url("../assets/characters/squirrel.png");
  --theme-name: "TONY";
  --theme-bg: url("../assets/backgrounds/background-squirrel.png");
 /*(popups) */
  --theme-popups-choice: url("../assets/popups/popups-choice-squirrel.png");
 /*(buttons) */
  --theme-btn-close-normal: url("../assets/buttons/btn-close-normal-squirrel.png");
  --theme-btn-normal: url("../assets/buttons/btn-normal-squirrel.png");
  --theme-btn-hover: url("../assets/buttons/btn-hover-squirrel.png");

  --theme-info-box:url("../assets/components/info-box-squirrel.png");
  --lider-box:url("../assets/components/lider-box-frog.png");
   
  --theme-bg-banner:url("../assets/components/background-banner-squirrel.png");  
  --theme-primary: #d97706;   
  --theme-secondary: #facc15;  
  --theme-accent: #92400e;
}

/* Tema frog  */
.theme-frog {
  --character: url("../assets/characters/frog.png");
  --theme-name: "OZZY";
  --theme-bg: url("../assets/backgrounds/background-frog.png");
 /*(popups) */
  --theme-popups-choice: url("../assets/popups/popups-choice-frog.png");
 /*(buttons) */
  --theme-btn-close-normal: url("../assets/buttons/btn-close-normal-frog.png");
  --theme-btn-normal: url("../assets/buttons/btn-normal-frog.png");
  --theme-btn-hover: url("../assets/buttons/btn-hover-frog.png");

  --theme-info-box:url("../assets/components/info-box-frog.png");
  --lider-box:url("../assets/components/lider-box-frog.png");
  --theme-bg-banner:url("../assets/components/background-banner-frog.png");  
  --theme-primary: #16a34a;  
  --theme-secondary: #4ade80;  
  --theme-accent: #065f46;
}
 